/* main */


body {
    font-family: 'Kreon', sans-serif;
  }
  
  .header {
    display: table;
    justify-content: space-between;
    padding: 0px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    background: #ffffff;
    transition: background 0.4s;
    align-items: center;
  }
  
  .header .logo{
    display: inline;
    width: 5000px;
  }
  
  .header .logo img{
    padding-left: 16px;
    height: 120px;
    transition: height 0.4s;
  }

  .header_option{
    display: inline;
    float: right;
    margin-right: 100px;
  }
  
  .header_option ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 70px;
    width: 170px;
    justify-content: space-around;
    }
  
  .header_option li a{
    color: gray;
    text-decoration: none;
  
  }

  .mainNav {
    display: flex;
    height: 40px;
    background: #ffffff;
  
    transition: height 0.4s;
    transition: background 0.4s;
  }
  
  
  .mainNav ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-around;
  }
  
  .mainNav ul li a{
    text-decoration: none;
    color: #6c6c6c;
    font-weight: 500;
    transition: color .4s;
  }
  
  
  li.dropdown {
        display: inline-block;
    }
  
  .dropdown-content {
      display: none;
      position: absolute;
     background: #f5f5f5;
      min-width: 160px;
      box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
      z-index: 1;
      justify-content: space-around;
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
      display: block;
  }

  #section1{
    height: 522px;
    background:url("img/Untitled.jpg");
    background-repeat: no-repeat;
  }
/* -------------------------- */

  .product {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
  

  .product-keyboard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 500px;
    margin: 50px 10px 0px 40px;
    text-align: center;
    font-size: 0.75em;
  }
  
  .price {
    color: grey;
    font-size: 1.5em;
  }
  
  .product-description {
    height: 55px;
    padding: 0 10px 0 10px;
    font-size: medium;
  }
  
  .product button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #333333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5em;
  }
  
  .product button:hover {
    opacity: 0.7;
  }

/* ------ */

footer {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
  border-top: 1px solid black;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  display: flex;

}
 
footer p:hover {
  border-bottom: 1px solid var(--contrast-colour);
  color: var(--contrast-colour);
  text-decoration: none;
}

footer a:hover{
  border-bottom: 1px solid var(--contrast-colour);
  color: var(--contrast-colour);
  text-decoration: none;
}

footer .aboutUs {
  margin-left: 100px;
  margin-right: 100px;
}

.footer-form {
  max-width: 750px;
}

.footer-contact input {
  width: 250px;
  height: 35px;
  border: 0.25px solid black;
  padding: 10;
}

.footer-contact ::placeholder {
  padding-left: 0px;
}

.footer-form {
  margin-right: 10%;
  margin-top: 4%;
  position: relative;
}

.footer-form button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #333333;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 35px;
  font-size: 1.2em;
  float: right;
}

.store {
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 100px;
}

span{
  margin-left: 0px;
}

.follow1 a,
.aboutUs a{
  margin-left: 100px;
} 

.followus {
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 100px;
}

.newsletter h4{
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 100px;
}

li {
  list-style: none;
}

.newsletter p {
  margin-left: 100px;
}

/* FAQ */
/* hr {
  clear: both;
  border-top: solid white;
  border-width: 1px 0 0;
  margin: 30px 0;
  height: 0;
} */

/* contact */
.contact {
  padding-top: 200px;
  padding-left: 250px;
}
input[type='text'],
.container input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #706c61;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #333333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #706c61;
}

.container {
  width: 70%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.FAQ .blog-date p {
  font-size: large;
}

p {
  font-size: large;
}